<h4 class="page-header">Click a tag to remove</h4>

<ul class="remove-tag-buttons">
  <% @taggings.each do |tag| %>
    <li>
      <%= button_to "#" + tag.tag, 
        untag_track_url + "?tag_id=#{tag.id}", 
        method: :delete %>
      </li>
  <% end %>
</ul>

<ul class="page-links">
  <li><%= link_to "Back to #{@track.title}", track_url(@track), class: "button" %></li>
</ul>