<h1>Welcome to MusicApp.com, <%= @user.email %></h1>
<p>
  You have successfully signed up to MusicApp.com,
  your email is: <%= @user.email %>.<br />
</p>
<p>
  Before you can log in, you mus activate your account,
  please follow this link to activate your new account: <%= @url %>
</p>
<p>Thanks for joining and have a great day!</p> 