<li>
  <form class="tags" action="<%= search_results_url %>" method="get">
    <input type="hidden" name="search[search_type]" value="Tag">
    <input type="hidden" name="search[search_input]" value="<%= tag.tag %>">
    <input type="submit" value="#<%= tag.tag %>">
  </form>
</li>