<h4 class="page-header">Add Tags</h4>
<%= render 'shared/flashes', types: :notice %>
<%= render 'shared/flashes', types: :errors %>
<%= render 'shared/tag_form', 
  action_url: tag_band_url %>

<ul class="page-links">
  <li><%= link_to "Back to #{@band.name}", band_url(@band), class: "button" %></li>
</ul>