html, body, div, span, h1, h2, h3, h4, a, p, ol, ul, li, form, label, article, aside, figure, figcaption, footer, header, nav , table{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  box-sizing: content-box;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 30px;
}

.main-logo {
  font-family: 'Bungee Inline', cursive;
}

.page-header {
  font-family: 'Bungee Inline', cursive;
  padding-bottom: 20px;
}

.header-content {
  display: flex;
  justify-content: space-around;
}

.main {
  margin: 200px;
}

.header-list {
  display: flex;
}

ul {
  list-style: none;
}

.group::after {
  content: "";
  display: block;
  clear: both;
}

.page {
  display: flex;
  justify-content: space-around;
}

.centered-box {
  width: 500px;
  margin: 50px 0;
  text-align: center;
  padding: 50px;
}

nav {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 20px;
}

.header-list-item {
  margin: 5px;
  padding: 5px;
  background-color: lightgray;
  border-radius: 10px;
  border: 1px solid black
}

.email-label {
  margin-left: 23px;
}

table {
  margin: auto;
  background-color: white;
}

tr {
  text-align: left;
}

.year {
  padding-left: 10px;
}